@model Proyecto1.Models.usuario

@{
    ViewBag.Title = "view";
}


<p>
    <h2>Crear Usuario</h2>
</p>
<br />
<br />
<br />
<h4>Crear Usuario</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <label class="control-label col-md-2" for="nombre">Nombre:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <label class="control-label col-md-2" for="apellido">Apellido:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <label class="control-label col-md-2" for="fecha_nacimiento">Fecha Nacimiento: </label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-date="El campo fecha_nacimiento debe ser una fecha." id="fecha_nacimiento" name="fecha_nacimiento" type="date" value="" />
                @Html.ValidationMessageFor(model => model.fecha_nacimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <label class="control-label col-md-2" for="email">Email:</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="email" name="email" type="email" value="" aria-invalid="false" />
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <label class="control-label col-md-2" for="password">Contraseña:</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="password" name="password" type="password" value="" />
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
