@model Proyecto1.Models.producto_compra

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>
<br />
<br />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Editar Producto Compra</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

    <div class="form-group">
        <label class="control-label col-md-2" for="id_compra">Id Compra: </label>
        <div class="col-md-10">
            @Html.Action("ListarCompras")
            @Html.ValidationMessageFor(model => model.id_compra, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="id_producto">Producto: </label>
            <div class="col-md-10">
                @Html.Action("ListarProductos")
                @Html.ValidationMessageFor(model => model.id_producto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="cantidad">Cantidad: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la Lista", "Index")
</div>
